{% extends "layout.html" %}
{% block body %}

{% from "_navbar.html" import navbar %}
{% from "_carousel.html" import carousel %}
{% from "_about.html" import about %}

    <!-- Navbar Start -->
    {{ navbar() }}
    <!-- Navbar End -->

    <!-- Carousel Start -->
    {{ carousel() }}
    <!-- Carousel End -->


    <!-- About Start -->
    {{ about() }}
    <!-- About End -->


    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title bg-secondary text-start text-primary pe-3">Why Us!</p>
                    <h1 class="mb-4">Few Reasons Why People Choosing Us!</h1>
                    <p class="mb-4">Whether you're a seasoned traveler or venturing into uncharted territories for the first time, Wandering Wisdom is here to be your compass. Let's embark on a journey together, where each step is an opportunity to gain new perspectives and enrich our collective wisdom.</p>
                    <p><i class="fa fa-check text-primary me-3"></i><b>Personalization:<br></b> Tailor your journey based on your preferences, interests, and budget.</p>
                    <p><i class="fa fa-check text-primary me-3"></i><b>Insightful Itineraries: <br></b>Discover handcrafted itineraries that go beyond the tourist hotspots, offering a genuine taste of the local culture.</p>
                    <p><i class="fa fa-check text-primary me-3"></i><b>Real-Time Wisdom:<br></b> Stay informed with real-time weather updates, local insights, and user-generated reviews.</p>
                    <p><i class="fa fa-check text-primary me-3"></i><b>Collaborative Community:<br></b> Join a community of fellow explorers, sharing experiences, recommendations, and the wisdom gained from their wanderings.</p>
                    <a class="btn btn-secondary rounded-pill py-3 px-5 mt-3" href="">Explore More</a>
                </div>
                <div class="col-lg-6">
                    <div class="rounded overflow-hidden">
                        <div class="row g-0">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="text-center bg-primary py-5 px-4">
                                    <img class="img-fluid mb-4" src="{{ url_for('static', filename='img/experience.png') }}" alt="" width="25%">
                                    <h1 class="display-6 text-white" data-toggle="counter-up">25</h1>
                                    <span class="fs-5 fw-semi-bold text-secondary">Years Experience</span>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="text-center bg-secondary py-5 px-4">
                                    <img class="img-fluid mb-4" src="{{ url_for('static', filename='img/awards.png') }}" alt="" width="25%">
                                    <h1 class="display-6" data-toggle="counter-up">183</h1>
                                    <span class="fs-5 fw-semi-bold text-primary">Award Winning</span>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="text-center bg-secondary py-5 px-4">
                                    <img class="img-fluid mb-4" src="{{ url_for('static', filename='img/animal.png') }}" alt="" width="25%">
                                    <h1 class="display-6" data-toggle="counter-up">2619</h1>
                                    <span class="fs-5 fw-semi-bold text-primary">Total Tours</span>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                                <div class="text-center bg-primary py-5 px-4">
                                    <img class="img-fluid mb-4" src="{{ url_for('static', filename='img/client.png') }}" alt="" width="25%">
                                    <h1 class="display-6 text-white" data-toggle="counter-up">51940</h1>
                                    <span class="fs-5 fw-semi-bold text-secondary">Happy Clients</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->


    <!-- Banner Start -->
    <div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/gallery-1.jpg') }}">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-4">
                            <img class="img-fluid rounded" src="{{ url_for('static', filename='img/service-1.jpg') }}" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h2 class="text-white mb-3">Beyond the Map:</h2>
                            <p class="text-white mb-4">Explore, Experience, and Evolve with Wandering Wisdom.</p>
                            <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-4">
                            <img class="img-fluid rounded" src="{{ url_for('static', filename='img/Travel.jpg') }}" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h2 class="text-white mb-3">Your Passport to Wisdom:</h2>
                            <p class="text-white mb-4">Wandering with Purpose, Planning with Wisdom.</p>
                            <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-secondary text-center text-primary px-3">Our Services</p>
                <h1 class="mb-5">Services That We Offer</h1>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/service-1.jpg') }}" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="{{ url_for('static', filename='img/service-1.jpg') }}" alt="">
                            </div>
                            <h5 class="mb-3">Insightful Itineraries: </h4>
                            <p class="mb-4">Discover handcrafted itineraries that go beyond the tourist hotspots, offering a genuine taste of the local culture.</p>
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/service-2.jpg') }}" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" width="110px" height="110px" src="{{ url_for('static', filename='img/service-2.jpg') }}" alt="">
                            </div>
                            <h5 class="mb-3">Real-Time Wisdom:</h5>
                            <p class="mb-4"> Stay informed with real-time weather updates, local insights, and user-generated reviews.</p>
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/service-3.jpg') }}" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="{{ url_for('static', filename='img/service-3.jpg') }}" alt="">
                            </div>
                            <h5 class="mb-3">Collaborative Community:</h5>
                            <p class="mb-4">Join a community of fellow explorers, sharing experiences, recommendations, and the wisdom gained from their wanderings.</p>
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Gallery Start -->
    <div class="container-xxl py-5 px-0">
        <div class="row g-0">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-0">
                    <div class="col-12">
                        <a class="d-block" href="{{ url_for('static', filename='img/gallery-5.jpg') }}" data-lightbox="gallery">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/gallery-5.jpg') }}" alt="">
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="d-block" href="{{ url_for('static', filename='img/gallery-1.jpg') }}" data-lightbox="gallery">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/gallery-1.jpg') }}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row g-0">
                    <div class="col-12">
                        <a class="d-block" href="{{ url_for('static', filename='img/gallery-2.jpg') }}" data-lightbox="gallery">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/gallery-2.jpg') }}" alt="">
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="d-block" href="{{ url_for('static', filename='img/gallery-6.jpg') }}" data-lightbox="gallery">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/gallery-6.jpg') }}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row g-0">
                    <div class="col-12">
                        <a class="d-block" href="{{ url_for('static', filename='img/gallery-7.jpg') }}" data-lightbox="gallery">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/gallery-7.jpg') }}" alt="">
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="d-block" href="{{ url_for('static', filename='img/gallery-3.jpg') }}" data-lightbox="gallery">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/gallery-3.jpg') }}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="row g-0">
                    <div class="col-12">
                        <a class="d-block" href="{{ url_for('static', filename='img/gallery-4.jpg') }}" data-lightbox="gallery">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/gallery-4.jpg') }}" alt="">
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="d-block" href="{{ url_for('static', filename='img/gallery-8.jpg') }}" data-lightbox="gallery">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/gallery-8.jpg') }}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery End -->


    <!-- Product Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-secondary text-center text-primary px-3">Our Products</p>
                <h1 class="mb-5">Our Tour Packages</h1>
            </div>
            <div class="row gx-4">
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="product-item">
                        <div class="position-relative">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/product-1.jpg') }}" alt="">
                            <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <a class="d-block h5" href="">Adventure Explorer Package:</a>
                            
                            <span class="text-dark me-1">$29.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="product-item">
                        <div class="position-relative">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/product-2.jpg') }}" alt="">
                            <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <a class="d-block h5" href="">Cultural Package:</a>
                            
                            <span class="text-dark me-1">$29.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="product-item">
                        <div class="position-relative">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/product-3.jpg') }}" alt="">
                            <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <a class="d-block h5" href="">Relaxation Retreat Package:</a>
                            
                            <span class="text-dark me-1" >$29.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="product-item">
                        <div class="position-relative">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/product-4.jpg') }}" alt="">
                            <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" href=""><i class="bi bi-cart"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <a class="d-block h5" href="">Family Fun <br>Package:</a>
                           
                            <span class="text-dark me-1">$29.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-secondary text-center text-primary px-3">Our Team</p>
                <h1 class="mb-5">Experienced Team Members</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/team-1.jpg') }}" alt="">
                        <h5>Adam Crew</h5>
                        <p class="text-primary">Founder</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/team-2.jpg') }}" alt="">
                        <h5>Doris Jordan</h5>
                        <p class="text-primary">Veterinarian</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/team-3.jpg') }}" alt="">
                        <h5>Jack Dawson</h5>
                        <p class="text-primary">Farmer</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-secondary text-center text-primary px-3">Testimonial</p>
                <h1 class="mb-5">What People Say About Wandering Wisdom</h1>
            </div>
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-img">
                        <img class="img-fluid animated pulse infinite" src="{{ url_for('static', filename='img/testimonial-1.jpg') }}" alt="">
                        <img class="img-fluid animated pulse infinite" src="{{ url_for('static', filename='img/testimonial-2.jpg') }}" alt="">
                        <img class="img-fluid animated pulse infinite" src="{{ url_for('static', filename='img/testimonial-3.jpg') }}" alt="">
                        <img class="img-fluid animated pulse infinite" src="{{ url_for('static', filename='img/testimonial-4.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item">
                            <img class="img-fluid mb-3" src="{{ url_for('static', filename='img/testimonial-1.jpg') }}" alt="">
                            <p class="fs-5">Adventure Enthusiast - ⭐⭐⭐⭐⭐
                                "Wandering Wisdom turned my vacation into an unforgettable adventure! The personalized adventure package took me off the beaten path, and I discovered hidden gems I would've never found on my own. From thrilling activities to breathtaking landscapes, every moment was a thrill. Highly recommended for fellow adventure seekers!"</p>
                            <h5>Client Name</h5>
                            <span class="text-primary">Profession</span>
                        </div>
                        <div class="testimonial-item">
                            <img class="img-fluid mb-3" src="{{ url_for('static', filename='img/testimonial-2.jpg') }}" alt="">
                            <p class="fs-5">Culture Explorer - ⭐⭐⭐⭐⭐
                                "Embarking on a cultural immersion journey with Wandering Wisdom was a game-changer! The itinerary perfectly balanced historical sites, local traditions, and artistic wonders. The curated experiences allowed me to dive deep into the heart of each destination. If you're a culture lover, Wandering Wisdom is your ticket to a profound travel experience."</p>
                            <h5>Client Name</h5>
                            <span class="text-primary">Profession</span>
                        </div>
                        <div class="testimonial-item">
                            <img class="img-fluid mb-3" src="{{ url_for('static', filename='img/testimonial-3.jpg') }}" alt="">
                            <p class="fs-5">Relaxation Seeker - ⭐⭐⭐⭐⭐
                                "Wandering Wisdom knows the art of relaxation! The relaxation retreat package took me to serene locations, and every detail was designed for tranquility. From peaceful accommodations to spa retreats, it was a perfect escape. Wandering Wisdom made sure I returned home refreshed and rejuvenated. A must-try for anyone needing a break from the hustle and bustle!"</p>
                            <h5>Client Name</h5>
                            <span class="text-primary">Profession</span>
                        </div>
                        <div class="testimonial-item">
                            <img class="img-fluid mb-3" src="{{ url_for('static', filename='img/testimonial-4.jpg') }}" alt="">
                            <p class="fs-5">Family-Friendly Fun - ⭐⭐⭐⭐⭐
                                "Our family vacation with Wandering Wisdom was pure joy! The family fun package catered to all ages, ensuring everyone had a blast. The mix of kid-friendly activities, family-oriented accommodations, and thoughtful itineraries made it stress-free and memorable. Thanks to Wandering Wisdom, we created cherished memories together."</p>
                            <h5>Client Name</h5>
                            <span class="text-primary">Profession</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

{% endblock %}